In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
data = pd.read_excel('D:/Kuliah/dataset.xlsx')

In [20]:
data.head()

       Day Discount Free Delivery Purchase
0  Weekday      yes           yes      yes
1  Weekday      yes           yes      yes
2  Weekday      yes           yes      yes
3  Weekday      yes           yes      yes
4  Weekday      yes           yes      yes

In [21]:
data.shape

(30, 4)

In [23]:
data['Purchase'].value_counts()

yes    24
no      6
Name: Purchase, dtype: int64

In [24]:
PYes = 24/30
PNo = 6/30

In [25]:
print (PYes)

0.8

In [26]:
print (PNo)

0.2

In [27]:
pd.crosstab(data['Day'],data['Purchase'])

Purchase  no  yes
Day
Holiday    3    8
Weekday    2    9
Weekend    1    7

In [28]:
PHolidayNo = 3/6
PWeekdayNo = 2/6
PWeekendNo = 1/6

PHolidayYes = 8/24
PWeekdayYes = 9/24
PWeekendYes = 7/24

PHoliday = 11/30
PWeekday = 11/30
PWeekend = 8/30

print (PWeekdayYes)

0.375

In [29]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print(PNoWeekday)

0.18181818181818182

In [30]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print(PYesWeekday)

0.8181818181818183

In [31]:
pd.crosstab(data['Discount'],data['Purchase'])

Purchase  no  yes
Discount
no         5    5
yes        1   19

In [32]:
PNoDiscountNo = 5/6
PYesDiscountNo = 1/6

PNoDiscountYes = 5/24
PYesDiscountYes = 19/24

PNoDiscount = 10/30
PYesDiscount = 20/30

In [33]:
pd.crosstab(data['Free Delivery'],data['Purchase'])

Purchase       no  yes
Free Delivery
no              4    3
yes             2   21

In [34]:
PNoDeliveryNo = 4/6
PYesDeliveryNo = 2/6

PNoDeliveryYes = 3/24
PYesDeliveryYes = 21/24

PNoDelivery = 7/30
PYesDelivery = 23/30

In [35]:
#Nomer 2A

In [59]:
PBuy1 =((PWeekdayYes*PYesDiscountYes*PYesDeliveryYes)*PYes) / (PWeekday*PYesDiscount*PYesDelivery)
print(PBuy1)

1.108880928853755

In [40]:
#No 2B

In [42]:
PBuy2 = ((PWeekdayYes*PNoDeliveryYes*PNoDiscountYes)*PYes)/(PWeekday*PNoDiscount*PNoDelivery)
print(PBuy2)

0.27394480519480524

In [45]:
#No 2C

In [44]:
PNoBuy3 = ((PWeekdayNo*PYesDeliveryNo*PYesDiscountNo)*PNo)/(PWeekday*PYesDiscount*PYesDelivery)
print(PNoBuy3)

0.019762845849802375

In [46]:
#No 2D

In [47]:
PNoBuy4 = ((PWeekdayNo*PNoDeliveryNo*PNoDiscountNo)*PNo)/(PWeekday*PNoDiscount*PNoDelivery)
print(PNoBuy4)

1.2987012987012987

In [48]:
#No 2E

In [54]:
PBuy5 =((PWeekendYes*PYesDiscountYes*PYesDeliveryYes)*PYes) / (PWeekend*PYesDiscount*PYesDelivery)
print(PBuy5)

1.185886548913044

In [51]:
#No 2F

In [55]:
PBuy6 = ((PWeekendYes*PNoDeliveryYes*PNoDiscountYes)*PYes)/(PWeekend*PNoDiscount*PNoDelivery)
print(PBuy6)

0.29296875000000006

In [53]:
#No 2G

In [56]:
PNoBuy7 = ((PWeekendNo*PYesDeliveryNo*PYesDiscountNo)*PNo)/(PWeekend*PYesDiscount*PYesDelivery)
print(PNoBuy7)

0.013586956521739134

In [57]:
#No 2H

In [58]:
PNoBuy8 = ((PWeekendNo*PNoDeliveryNo*PNoDiscountNo)*PNo)/(PWeekend*PNoDiscount*PNoDelivery)
print(PNoBuy8)

0.8928571428571428